<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Besideモニタ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'BesideWebApp/css/style.css' %}" />
    <!-- ローカル用
    <meta http-equiv="refresh" content="1800; URL=http://127.0.0.1:8000">
-->
    <!-- サーバー用-->
    <meta http-equiv="refresh" content="1800; URL=https://besidemonitor01.herokuapp.com">

</head>
<body>
    <h1>Besideモニタ・夜間待機中（0:00～6:00）<br>朝6:00に自動表示します</h1>
    <br><br>
    <button onclick="location.href='onetime'">Onetime表示</button>
</body>
</html>